.App {
  text-align: center;
  margin-bottom: 5%;
  margin-right: 2%;
  margin-left: 2%;
}

h1 {
  font-family: 'Bigelow Rules';
  font-size: 72px;
  color: #0ccac4;
}

@media only screen and (max-width: 500px) {
  h1 {
    font-size: 2.2em;
  }
}